<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Place</th>
      <th>Category</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each collection.places}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{category}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          {{longitude}}
        </td>
        <td>
          <a href="/place/{{../collection._id}}/editplace/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/collection/{{../collection._id}}/deleteplace/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
